$containerWidth: 1920px;
$baseFontSize: 25px;

//breakpoints

@import "./components/media.scss";

$desktop: 1280px;
$tablets: 768px;
$phones: 360px;

//normalsize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import"layout";

//components
@import"./components/hero.scss";
@import"./components/education.scss";
@import"./components/backstory.scss";
@import"./components/sales.scss";
@import"./components/burger.scss";